[Desktop Entry]
Version=1.0
Type=Application
Name=Spotify (adblock)
Comment=
Exec=env LD_PRELOAD=/usr/lib/spotify-adblock.so spotify %U
Icon=spotify-client
Path=
Terminal=false
StartupNotify=true
